* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: white;
  color: rebeccapurple;
  height: 6.3rem;
  padding: 0 2rem;
}
#header-top {
  display: flex;
  padding: 0;
  margin: 0;
}
#top-nav {
  display: flex;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: auto;
  list-style: none;
  gap: 0.5rem;
  font-size: 0.75rem;
}

#top-nav a {
  text-decoration: none;
  color: rgb(17, 171, 227);
}

#header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 4rem;
}

#phone-number {
  font-size: 2rem;
}

nav {
  background-color: rebeccapurple;
  color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: top 0.4s, opacity 0.3s;
}

nav.offScreen {
  top: -4rem;
  opacity: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1.45rem;
}

nav ul a:hover {
  background-color: rgb(105, 59, 151);
}

nav form {
  margin-left: auto;
}

nav form input {
  height: 2rem;
  width: 12rem;
}

nav form button {
  padding: 0.5rem;
  background-color: #8ab93f;
  color: white;
  border: 0;
}

nav form button:hover {
  background-color: gray;
}

#confidence {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  border-top: 2px solid white;
}

#confidence div:first-of-type {
  background-color: #2f6fba;
  padding: 1rem;
}

#confidence div:last-of-type {
  background-color: rebeccapurple;
  padding: 1rem;
}

#grey-nav {
  background-color: rgb(123, 123, 123);
  display: flex;
  list-style: none;
  height: 1rem;
  margin: 0;
  padding: 1rem;
  align-items: center;
}

#grey-nav ul {
  color: white;
  display: flex;
}

#grey-nav a {
  text-decoration: none;
  color: white;
}

#grey-nav li {
  font-size: 0.8rem;
}

#grey-nav li:not(:last-child)::after {
  content: ">";
  margin: 0 0.5rem;
  color: white;
}

#hero {
  height: 50rem;
  background-image: url(hero.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 5rem;
}

h3 {
  margin: 0.5rem 0;
}

#visa-reqs-top {
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
}

#visa-requirements {
  margin: 3rem;
  border: 1px solid lightgrey;
}

#visa-reqs-bottom {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

@media only screen and (max-width: 60rem) {
  #visa-reqs-bottom {
    grid-template-columns: 1fr;
  }
  #visa-reqs-left {
    border-right: 0 !important;
    border-bottom: 1px solid lightgrey;
  }
}

#visa-reqs-left {
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

#sherpa {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

select,
input[type="date"] {
  height: 2rem;
  width: 100%;
  margin: 0.5rem auto;
}

#check {
  background-color: black;
  color: white;
  height: 2rem;
  border: 0;
}

#visa-reqs-right {
  padding: 1rem;
}

#covid-rules {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
}

.covid-card {
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  height: 12rem;
  padding: 1rem;
  cursor: pointer;
}

.covid-card:hover {
  border: 1px solid black;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

.covid-card div {
  margin-bottom: 1rem;
}

.covid-card i {
  margin-right: 1rem;
  font-size: 1.25rem;
  color: dodgerblue;
}

.fas.fa-ban {
  color: red;
}

#tour-photos-background {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

#tour-photos {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30rem;
}

#tour-photos h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

#photos-container {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem;
  position: relative;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

#photos-flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#photos-flexbox img {
  object-fit: cover;
  height: 10rem;
  border-radius: 0.25rem;
}

#photos-flexbox img:nth-child(1) {
  width: 15%;
}

#photos-flexbox img:nth-child(1) {
  width: 25%;
}

#photos-flexbox img:nth-child(2) {
  width: 20%;
}

#photos-flexbox img:nth-child(3) {
  flex: 1;
}

#photos-flexbox img:nth-child(4) {
  width: 20%;
}

#photos-flexbox img:nth-child(5) {
  flex: 1;
}

#photos-flexbox img:nth-child(6) {
  width: 15%;
}

#photos-flexbox img:nth-child(7) {
  flex: 1;
}

#photos-flexbox img:nth-child(8) {
  width: 20%;
}

#photos-flexbox img:nth-child(9) {
  width: 30%;
}

#tour-photos button {
  background-color: rebeccapurple;
  height: 3rem;
  width: 100%;
  color: white;
  border: 0;
  font-weight: bold;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
}
